absl-py==0.9.0
astor==0.7.1
awscli==1.16.140
boto3==1.10.48
botocore==1.12.130
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
colorama==0.3.9
contextlib2==0.6.0.post1
cryptography==2.8
docutils==0.14
gast==0.3.2
grpcio==1.23.0
h5py==2.10.0
idna==2.8
jmespath==0.9.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
labelImg==1.8.3
lxml==4.4.2
Markdown==3.1.1
mock==3.0.5
numpy==1.16.2
olefile==0.46
opencv-python==4.1.0.25
pandas==0.24.2
Pillow==7.0.0
protobuf==3.11.2
pyasn1==0.4.5
pycparser==2.19
pyOpenSSL==19.1.0
PyQt5==5.13.2
PyQt5-sip==12.7.0
PySocks==1.7.1
python-dateutil==2.8.0
pytz==2019.1
PyYAML==3.13
requests==2.22.0
rsa==3.4.2
s3transfer==0.2.0
scipy==1.4.1
six==1.12.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
tqdm==4.31.1
urllib3==1.24.1
Werkzeug==0.16.0
