boto3==1.10.28
botocore==1.13.28
certifi==2019.9.11
chardet==3.0.4
docutils==0.15.2
filelock==3.0.10
idna==2.8
importlib-metadata==0.23
imagehash==4.0
jmespath==0.9.4
lxml==4.4.2
more-itertools==7.2.0
numpy==1.17.4
opencv-python==4.1.2.30
packaging==19.2
pandas==0.25.3
Pillow==6.2.1
pluggy==0.12.0
py==1.8.0
pyparsing==2.4.5
python-dateutil==2.8.0
pytz==2019.3
requests==2.22.0
s3transfer==0.2.1
six==1.13.0
toml==0.10.0
tox==3.14.1
tqdm==4.39.0
urllib3==1.25.7
virtualenv==16.7.5
zipp==0.6.0
